* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --main-accent: skyblue;
  --general-text: midnightblue;
}
.element-underline {
  border-bottom: solid 3px var(--main-accent);
}
/* Header and Nav*/
header {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 35px;
}

header h1 {
  font-weight: bold;
  font-size: 36;
  color: var(--main-accent);
}
header nav {
  padding: 10px 0 0 0;
}
header nav a {
  text-decoration: none;
  color: var(--main-accent);
}

header nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header nav ul li a {
  padding: 10px 15px;
  text-decoration: underline solid 3px var(--main-accent);
}
/* Hero and Subtitle*/
.hero {
  background-image: url("../images/computer-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#subtitle {
  background-color: var(--main-accent);
  color: black;
  width: 35%;
  text-align: center;
  justify-content: end;
  height: auto;
  margin: 0 25px 25px 0;
  padding: 10px;
}

/* Parent Flexbox */
.content-row {
  display: flex;
  justify-content: center;
  margin: 15px 15px;
}

.left-title {
  width: 20%;
  justify-content: flex-start;
  text-align: right;
  font-weight: bold;
  font-size: 30px;
  margin: 0 15px;
  border-right: 4px solid var(--general-text);
  color: var(--general-text);
  padding-right: 15px;
}

/* About Me */
.about-container {
  width: 80%;
}

#about-me p {
  margin: 0 0 10px 0;
  color: var(--general-text);
}

.work-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end; /*moves label box to bottom of container*/
}
.primary-project:hover,
.secondary-project:hover{
  opacity: .9;
}
.primary-project,
.secondary-project{
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .7;
  display: flex;
  align-items: flex-end;
  border: solid 4px var(--main-accent);
}
.primary-project {
  background-image: url("../images/horiseon-screenshot.png");

  height: 350px;
  width: 100%;

}
.secondary-project {

  margin-top: 15px;
  height: 200px;
  width: 49%;

}
.proj1 {
  background-image: url("../images/2021-02-28.png");
}
.proj2 {
  background-image: url("../images/proj2.jpg");
}
.proj3 {
  background-image: url("../images/proj3.jpg");
}
.proj4 {
  background-image: url("../images/proj4.jpg");
}
.project-title {
  background-color: var(--main-accent);
  color: var(--general-text);
  font-size: small;
  width: 150px;
  text-align: left;
  height: 50px;
  padding: 10px;
  margin: 0 0 25px 0;
}
.project-title a {
  text-decoration: none;
  color: var(--general-text);
  font-weight: bold;
  font-size: medium;
}
/* Footer */
#contact-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  color: var(--main-accent);
  height: 20px;
}

#contact-box a {
  color: var(--main-accent);
  text-decoration: none;
}
